body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

main{
    display: flex;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

.holder{
    height: 100px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dot{
    height: 20px;
    width: 20px;
    background-color: rgb(91, 91, 91);
    border-radius: 100%;
}

@keyframes L {
    0%, 100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.5);

    }
}

.holder-2{
    animation: L 2.5s 0.333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333s infinite ease-in-out;
}
.holder-3{
    animation: L 2.5s 0.666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666s infinite ease-in-out;
}
.holder-1{
    animation: L 2.5s infinite ease-in-out;
}